*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}








.navbar{
    text-align: center;
    color: rgb(54, 221, 12);
}

.about{
    /* background-color: blueviolet; */
    width: 500px;
    display: inline-block;
    margin-left: 40px;
    /* margin-top: 10px; */
}

.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    max-width: 1500px;
}



.blog_card_title{
    font-size: 18px;
}

.populyar_blog_card_title{
    font-size: 15px;

}
.about_title{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    margin-bottom: 15px;

}

.blog_title{
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    margin-top: 60px;
    margin-bottom: 30px;

}

.populyar_title{
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    margin-top: 60px;
    margin-bottom: 30px;



}

.contact_title{
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    margin-top: 60px;
    margin-bottom: 30px;



}

.form{
    font-size: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.button{
    font-size: 20px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 28px;



}

.footer{
    text-align: center;
    background-color: saddlebrown;
}

.contact_form{
    width: 500px;
    display: inline-block;
    margin-left: 40px;
}

.contact_image{
    display: inline-block;
}

.section4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    max-width: 1500px; 
    margin-bottom: 40px;
}